<div class="header ">
    <div class="inner-header dot-bg flex">
        <div class="container">

            <h1 class="vote">V O T E</h1>
            <div class="data" *ngIf="!otpsent">
                <mat-form-field class="inputData" appearance="outline">
                    <mat-label>Voter Id Number</mat-label>
                    <input matInput [formControl]="voterId" required>
                    <mat-error *ngIf="number.invalid">{{getVoterIdErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="inputData" appearance="outline">
                    <mat-label>Phone No.</mat-label>
                    <input matInput placeholder="764** *****" [formControl]="number" type="text" required
                        (keypress)="onlyNumeric($event)" (keyup)="checkMobile()" [(ngModel)]="mobile" minlength="10"
                        maxlength="10">
                    <mat-error *ngIf="number.invalid">{{getNumberErrorMessage()}}</mat-error>
                </mat-form-field>
                
                <div class="example-button-row">
                    <button mat-raised-button class="getotp" (click)="getotp()">Get OTP</button>
                </div>
            </div>



            <div class="data" *ngIf="otpsent">

                <mat-form-field class="inputData" appearance="outline" >
                    <mat-label>Enter OTP</mat-label>
                    <input matInput [formControl]="OTP" required minlength="6" maxlength="6" type="text"
                        (keypress)="onlyNumeric($event)">
                    <mat-error *ngIf="OTP.invalid">{{getOTPErrorMessage()}}</mat-error>
                </mat-form-field>
                <div style="height: 20px;">

                    <p *ngIf="isDisabled">Resend OTP in {{transform(counter)}}</p>
                </div>

                <div class="otp">
                    <div class="example-button-column">
                        <button mat-raised-button class="getotp" (click)="submitOTP()">Submit OTP</button>
                    </div>
                    <div class="example-button-column">
                        <button mat-raised-button class="resendotp" (click)="resendOTP()" [disabled]="isDisabled">Resend
                            OTP</button>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>