// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Vote-primary: mat.define-palette(mat.$indigo-palette);
$Vote-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Vote-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Vote-theme: mat.define-light-theme((color: (primary: $Vote-primary,
        accent: $Vote-accent,
        warn: $Vote-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Vote-theme);




/* You can add global styles to this file, and also import other style files */
:root {
  --purple: #8275BD;
  --lighYellow: #fff0e5;
  --blueGreen: #9CE7D9;
  --black: #000000;
  --lightgrey: #333333;
  --blue: #10162f;
  --lightgreen: #7DDE92;
}

$bg-color: #ffffff;
$dot-color: #000002;

// Dimensions
$dot-size: 1.5px;
$dot-space: 3px;


body {
  padding: 0;
  margin: 0;
  background-color: #fff0e5;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.mat-drawer {
  transform: none !important;
}

.sidebar {
  width: 250px;
  // background-color: #003456;
  border: 0 !important;
}

.dot-bg {
  background:
    linear-gradient(90deg, $bg-color (
      $dot-space - $dot-size),
    transparent 1%) center,
    linear-gradient($bg-color (
      $dot-space - $dot-size),
    transparent 1%) center,
    #10162f;
  background-size: $dot-space $dot-space;
}

.invert-dot-bg {
  background:
    linear-gradient(90deg, $dot-color (
      $dot-space - $dot-size),
    transparent 1%) center,
    linear-gradient($dot-color (
      $dot-space - $dot-size),
    transparent 1%) center,
    $bg-color;
  background-size: $dot-space $dot-space;
}


